$skill-box-size: 25rem;

.skill-box {
    margin: auto;
    position: relative;
    height: $skill-box-size;
    width: $skill-box-size;
    background-size: cover;
}

.skill {
    height:$skill-box-size;
    width: $skill-box-size;

    &__img {
        height: $skill-box-size;
        width: $skill-box-size;
        position: absolute;
        top:0;
        bottom:0;
        background-size: cover;
        transition: all 1s;
        z-index:1;
    }

    &__caption {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transition: all 1s;
        transform: translate(-50%, -50%);
        font-size: 1.6rem;
        opacity:0;
        color: $color-white;
        background-color: rgba($color-black, .5);

        &--clicked {
            opacity:1;
        }

        &--not-clicked {
            opacity:0;
        }
    }
}

