.project {
    text-align: center;
    transition: all 1s;
    position: relative;

    &--hide {
        opacity: 0;
        transform: scale(.01);
    }

    &__featured {
        transition: all 1s;
        position: absolute;

        &--show {
            opacity: 1;
            transform: scale(1);
        }

        &--hide {
            opacity: 0;
            transform: scale(.01);
        }
    }

    &--show {
        opacity: 1;
    }

    &__content {
        width: 100%;
    }

    &__back {
        font-size:5rem;
        position: absolute;
        top: 0;
        left: 0;

    }

    &__img {
        width:75%;

        &--backdrop {
            background: rgba(0,0,0,.75);

        }
    }

    &__list {
        list-style: none;

        &--item {
            text-align: left;
            font-size: 1.6rem;
            margin-bottom: $margin-tiny;
            &:last-child {
                margin-bottom: $margin-medium;
            }
        }
    }

    &__github {
        list-style: none;
        padding: auto;
        text-align: center;

        &--item {
            display: inline-block;
            font-size: 1.6rem;
            margin: 0 1rem;
            margin-bottom: $margin-tiny;
            &:last-child {
                margin-bottom: $margin-medium;
            }
        }
    }
}