$skill-size: 25rem;

.skill {
    position: relative;
    height: $skill-size;
    width: $skill-size;
    margin: 0 auto;
    margin-bottom: 3rem;


    &__img {
        position:absolute;
        height: 100%;
        width: 100%;
        transition: all 1s;
        backface-visibility: hidden;

        &--clicked {
            transform: scale(1.2);
            z-index:5;
        }
    }

    &__caption {
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        background-color: rgba(0,0,0,.75);
        color: $color-white;
        transition: all 1s;
        backface-visibility: hidden;

        &--clicked {
            opacity: 1;
            transform: scale(1.2);
            z-index: 5;
        }

        &--not-clicked {
            opacity: 0;
        }
    }
}