$story-image-size: 20rem;
.story {

    min-height: $story-image-size;
    &:not(:last-child) {
        margin-bottom: 6rem;
    }
    &__shape{
        float:left;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: $story-image-size;
        height: $story-image-size;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

    }

    &__img {
        &--height{
            height:100%;
        }
        &--width{
            width:100%;
        }
    }

    &__text {
        font-size: 1.6rem;
    }


}