:root {
    --storyImageSize: 10rem;
}
.story {
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
    &__shape{
        width: var(--storyImageSize);
        height: var(--storyImageSize);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

    }

    &__img {
        &--height{
            height:100%;
        }
        &--width{
            width:100%;
        }
    }

    &__text {
        font-size: 1rem;
    }


}