$story-image-size: 20rem;
.story {


    &__shape{
        float:left;
        width: $story-image-size;
        height: $story-image-size;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

    }

    &__img {
        width:100%;
    }

    &__text {
        font-size: 1.6rem;
    }


}