.container {
  max-width: 1200px;
  margin: 1rem auto;
}

.headingBox {
  text-align: center;
  margin-bottom: 1.5rem;
}

.heading {
  font-size: 2rem;
}

.headingSecond {
  font-size: 1.25rem;
}

.skillsList {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
  grid-gap: 2rem;
}
