//Primary Colors

$color-primary: #424242;
$color-primary-light: #6d6d6d;
$color-primary-dark: #1b1b1b;


//background uniform grey

$color-background: #e0e0e0;

//white and black color

$color-white: #F0F0F0;
$color-black: #000000;

