.hero {
    position: relative;
    width: 100vw;
    height: 100vh;

    
    &__img {
        filter: blur(2px) brightness(60%);
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-size: cover;

        &--top{
            z-index: 3;
            animation-name: heroFadeInOut;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 5s;
            animation-direction: alternate;
        }


    }
    &__title {
        position: absolute;
        color: $color-white;
        width: 75%;
        top: 50%;
        left: 50%;
        z-index: 5;
        text-align: center;
        transform: translate(-50%,-50%);
    }
    &__fade {
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-direction: alternate;

        &--in {
            animation-name: heroFadeInOut;
        }

        &--out {
            animation-name: heroFadeOutIn;
        }

    }

}



