body {
    font-family: 'Raleway', sans-serif;
}

.heading-primary {
    font-size: 10rem;
    font-weight: 300;
    text-transform: uppercase;
}

.heading-secondary {
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
}

.heading-tertiary {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}