.u-margin-bot-tiny { margin-bottom: $margin-tiny !important; }
.u-margin-bot-sm { margin-bottom: $margin-small !important; }
.u-margin-bot-md { margin-bottom: $margin-medium !important; }
.u-margin-bot-lg { margin-bottom: $margin-large !important; }
.u-margin-bot-huge { margin-bottom: $margin-huge !important; }

.u-margin-top-tiny { margin-top: $margin-tiny !important; }
.u-margin-top-sm { margin-top: $margin-small !important; }
.u-margin-top-md { margin-top: $margin-medium !important; }
.u-margin-top-lg { margin-top: $margin-large !important; }
.u-margin-top-huge { margin-top: $margin-huge !important; }

.u-padding-bot-tiny { padding-bottom: $margin-tiny !important; }
.u-padding-bot-sm { padding-bottom: $margin-small !important; }
.u-padding-bot-md { padding-bottom: $margin-medium !important; }
.u-padding-bot-lg { padding-bottom: $margin-large !important; }
.u-padding-bot-huge { padding-bottom: $margin-huge !important; }

.u-padding-top-tiny { padding-top: $margin-tiny !important; }
.u-padding-top-sm { padding-top: $margin-small !important; }
.u-padding-top-md { padding-top: $margin-medium !important; }
.u-padding-top-lg { padding-top: $margin-large !important; }
.u-padding-top-huge { padding-top: $margin-huge !important; }

.u-color-white { color: $color-white !important; }

.u-position-relative { position: relative !important; }
.u-position-static { position: static !important; }

.u-text-trans-none { text-transform: none !important;}